h1 {
	color: orange;
	background-color: blue;
	text-align: center;
	font-size: 70px;
	}
body {
	background-color: black;
}
p {
	color: red;
	font-size: 20px;

}
h3 {
	color: orange;
	font-style: italic;
	font-weight: bold;
}
h4 {
	color: white;
	font-style: italic;
	}
.img {
	border: solid;
	color: white;
    border-spacing: 10cm;
}
.im {
	width: 200;
	height: 150;
	}
.link {
	font-size: 20px;
	
}
.vid {
	color: white;
}
.logo {
	width: 100px;
	height: 100px;
}